$tifanny-blue: #75DDDD;
$blue: #508991;
$prussian-blue: #172A3A;
$midnigth-green: #004346;
$mint: #09BC8A;

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

.scroll-lock {
  overflow: hidden;
}
