$tifanny-blue: #75DDDD;
$blue: #3c7cc2;
$prussian-blue: #172A3A;
$midnigth-green: #004346;
$mint: #326caf;

@media (min-width: 768px) {
  #contact {
    padding-top: 2.5%;
    display: flex;
    padding-left: 5%;
    padding-right: 5%;

    .contact-us-container {
      padding: 1%;
      flex: 1;

      h2 {
        font-size: 30px;
      }

      form {
        display: flex;
        flex-direction: column;

        .must {
          width: 50%;
          height: 25px;
        }

        .optional {
          width: 50%;
          height: 75px;
          line-height: to;
        }

        button {
          padding: 1%;
          color: white;
          background-color: $mint;
          border: none;
          border-radius: 10px;
          font-size: 30px;
          width: 25%;
          margin-top: 2.5%;
        }

        button:hover {
          background-color: $blue;
          cursor: pointer;
          color: white;
        }
      }

      h3 {
        font-size: 20px;
      }

      ul {
        display: flex;
        flex-direction: column;
        gap: 5px;
        list-style: none;
        padding: 0;

        li {
          font-size: 17.5px;
          cursor: pointer;
          display: flex;
          align-items: center;

          h4 {
            margin: 0;
          }
        }
      }
    }

    .ubication {
      flex: 1;
      padding: 1%;

      h2 {
        font-size: 30px;
      }
    }
  }
}

@media (max-width: 767px) {
  #contact {
    padding-top: 2.5%;
    display: flex;
    flex-direction: column;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 10%;

    .contact-us-container {

      h2 {
        font-size: 30px;
        margin-bottom: 0;
      }

      form {
        display: flex;
        flex-direction: column;

        .must {
          width: 95%;
          height: 25px;
        }

        .optional {
          width: 96%;
          height: 75px;
          line-height: to;
        }

        button {
          padding: 5%;
          background-color: $mint;
          border: none;
          border-radius: 10px;
          font-size: 20px;
          width: 50%;
          margin-top: 2.5%;
          color: white;
        }

        button:hover {
          background-color: $blue;
        }
      }

      h3 {
        font-size: 20px;
      }

      ul {
        display: flex;
        flex-direction: column;
        gap: 5px;
        list-style: none;
        padding: 0;

        li {
          font-size: 17px;
          cursor: pointer;
          display: flex;
          align-items: center;

          svg {
            flex: 1 1 10%;
          }

          h4 {
            flex: 1 1 90%;
            margin: 0;
          }
        }

        .direccion {
          display: flex;
          align-items: flex-start;

          svg {
            flex: 1 1 10%;
          }

          h4 {
            flex: 1 1 90%;
          }
        }
      }
    }

    .ubication {
      padding: 1%;

      h2 {
        font-size: 30px;
      }
    }
  }
}