$tifanny-blue: #75DDDD;
$blue: #3c7cc2;
$prussian-blue: #172A3A;
$midnigth-green: #004346;
$mint: #326caf;

@media (min-width: 768px) {
  .header {
    width: auto;
    margin-top: 90px;
    height: 85.78vh;

    div {
      background: rgb(13, 182, 235);
      background: linear-gradient(90deg, rgba(13, 182, 235, 1) 0%, rgba(50, 108, 175, 1) 50%);
      color: white;
      height: 21.44vh;
      padding-left: 5%;
      padding-right: 5%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      h1 {
        margin: 0;
        font-size: 45px;
      }

      p {
        margin: 0;
        font-size: 25px;
      }
    }

    .header-background {
      height: 64.34vh;
      background-size: 100% 100%;
      justify-content: flex-end;
      align-items: flex-start;

      button {
        padding: 1%;
        width: auto;
        color: white;
        background: linear-gradient(90deg, rgba(13, 182, 235, 1) 0%, rgba(50, 108, 175, 1) 50%);
        border: none;
        border-radius: 10px;
        font-size: 25px;
        margin-bottom: 5%;
      }

      button:hover {
        background: rgba(13, 182, 235, 1);
        cursor: pointer;
        color: white;
      }
    }
  }
}

@media (max-width: 767px) {
  .header {
    width: auto;
    margin-top: 75px;
    height: 90vh;

    div {
      background: rgb(13, 182, 235);
      background: linear-gradient(90deg, rgba(13, 182, 235, 1) 0%, rgba(50, 108, 175, 1) 50%);
      color: white;
      padding-left: 5%;
      padding-right: 5%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 30vh;

      h1 {
        margin: 0;
        font-size: 25px;
      }

      p {
        margin: 0;
        font-size: 20px;
      }
    }

    .header-background {
      background-size: auto;
      background-position: center;
      justify-content: flex-end;
      align-items: flex-start;
      height: 57vh;

      button {
        padding: 3%;
        width: auto;
        color: white;
        background: linear-gradient(90deg, rgba(13, 182, 235, 1) 0%, rgba(50, 108, 175, 1) 50%);
        border: none;
        border-radius: 10px;
        font-size: 25px;
        margin-bottom: 10%;
      }

      button:active {
        background: rgba(13, 182, 235, 1);
        cursor: pointer;
        color: white;
      }
    }
  }
}