$tifanny-blue: #75DDDD;
$blue: #508991;
$prussian-blue: #172A3A;
$midnigth-green: #004346;
$mint: #326caf;

@media (min-width: 768px) {
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $mint;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    width: 100%;

    .logo {
      margin-left: 5%;
      width: 115px;
      height: 90px;
      background-size: 100% 100%;
      cursor: pointer;
    }

    .desktop-menu {
      list-style: none;
      margin: 0;
      display: flex;
      gap: 5%;
      justify-content: flex-end;
      width: 100%;
      padding-right: 5%;

      li {

        a {
          text-decoration: none;
          color: white;
          cursor: pointer;

          h3:hover {
            text-decoration: underline;
          }
        }
      }
    }

    svg {
      display: none;
    }

    .mobile-menu {
      display: none;
    }
  }
}

@media (max-width: 767px) {
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $mint;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    width: 100%;
    height: 75px;

    .logo {
      padding-left: 5%;
      width: 60px;
      height: 60px;
      background-size: 100% 100%;
    }

    .desktop-menu {
      display: none;
    }

    svg {
      padding-right: 5%;
      height: 25px;
      width: 25px;
      color: white;
    }

    @keyframes slideInMenu {
      from { width: 0; }
      to { width: 100%; }
    }

    .mobile-menu {
      position: absolute;
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
      list-style: none;
      background-color: rgb(50, 108, 175, 0.97);
      top: 55px;
      width: 100%;
      height: 100vh;
      padding: 0;
      animation-name: slideInMenu;
      animation-duration: 0.3s;
      gap: 20px;
      padding-left: 5%;
      padding-right: 5%;

      .exit {
        margin-left: auto;
      }

      li {
        a {
          text-decoration: none;
          color: white;

          h3 {
            margin: 0;
            font-size: 25px;
          }
        }
      }
    }
  }
}