$tifanny-blue: #75DDDD;
$blue: #508991;
$prussian-blue: #172A3A;
$midnigth-green: #004346;
$mint: #09BC8A;

#services {
  padding-top: 2.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 5%;
  padding-right: 5%;

  h2 {
    font-size: 40px;
    margin-bottom: 5%;
  }

  .all-services {
    display: flex;
    gap: 5%;

    .service-container {
      width: auto;
      border-radius: 50px;
      background-color: #09BC8A;
      padding: 2%;

      .product-image {
        height: 200px;
        background-size: 100% 100%;
        border-radius: 10px;
      }

      .service-information {
        h3 {
          font-size: 30px;
        }

        ul {
          display: flex;
          flex-direction: column;
          padding-left: 20px;

          li {
            padding: 2.5%;
          }
        }
      }
    }
  }

  button {
    padding: 1%;
    background-color: $mint;
    border: none;
    border-radius: 10px;
    font-size: 30px;
    margin: 5%;
  }

  button:hover {
    background-color: $blue;
    cursor: pointer;
    color: white;
  }
}